@using Eventos.Domain.DTOs.InputModel
@using Eventos.WebUi.Resoucer

@model LoginInputModel

<section class="conteudo conteudo-login">
    <div class="layout">
        <link rel="stylesheet" href="~/css/Eventos/Conteudo/login.css" />
    </div>
    <div class="div-form-login-registro">
        @if (@ViewData["Error"] != null)
        {
            <div>
                <p class="erroTexto">@ViewData["Error"].ToString()</p>
            </div>
        }
        <form class="form-login-registro" asp-controller="Evento" asp-action="Logar" method="post">
            @if (@ViewData["Error"] != null)
            {
                <input class="form-login-registro-input erroInput" type="text" placeholder="usuario" asp-for="Usuario"  required/>
                <input class="form-login-registro-input erroInput" type="password" placeholder="Senha" asp-for="Password"  required/>
            }
            else
            {
                <input class="form-login-registro-input" type="text" placeholder="usuario" asp-for="Usuario"  required/>
                <input class="form-login-registro-input" type="password" placeholder="Senha" asp-for="Password"  required/>
            }
            <div class="botoes-login-registro">
                <button class="botoes-login-registro-button entrar" role="button" type="submit">Entrar</button>
                <input class="botoes-login-registro-button cadastrar" type="button" onclick="location.href='@Url.Action("Index", "Usuario")'" value="Registrar" />
            </div>
        </form>
    </div>
</section>

<footer class="rodape">
    <div class="rodape-contato">
        <div class="rodape-contato-div">
            <label>Contato: </label>
        </div>
        <label>
            Mateus - (48) 9 8845-5647
            <img class="rodape-contato-img" src="../img/whatsapp.svg">
        </label>
        <label>
            Ruan - (48) 9 8440-6456
            <img class="rodape-contato-img" src="../img/whatsapp.svg">
        </label>
        <label>
            Pedro - (47) 9 8809-2450
            <img class="rodape-contato-img" src="../img/whatsapp.svg">
        </label>
    </div>
</footer>