.layout-ticket-event{
    display: flex;
}

.layout-ticket-event-img{
    background-color: black;
    border-radius: 0.5rem;
    width: 10rem;
    height: 10rem;
}

.layout-ticket-event-dados{
    background-color: black;
    color: white;
    display: flex;
    flex-direction: column;
    padding: 0.5rem 1rem;
    border-left: 3px dotted white;
    border-end-end-radius: 0.5rem;
    border-top-right-radius: 0.5rem;
    width: 20rem;
}