<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - Eventos.WebUi</title>
    <link rel="stylesheet" href="~/css/Evento/home.css"/>
</head>
<body>
    <header class="cabecalho">
            <div class="logo-img">
                <img class="logo" src="../img/logo.png">
            </div>
            <div class="categoria-ul">
                <ul class="categoria-ul-nav">
                    <li>
                        <a href="#" title="Aniversario">
                            <img src="../img/categorias/aniversario.png" alt="#">
                        </a>
                    </li>
                    <li>
                        <a href="#" title="Festival de compras">
                            <img src="../img/categorias/Compras.png" alt="#">
                        </a>
                    </li>
                    <li>
                        <a href="#" title="Festa a fantasia">
                            <img src="../img/categorias/fantasia.png" alt="#">
                        </a>
                    </li>
                    <li>
                        <a href="#" title="Karaoke">
                            <img src="../img/categorias/Karaoke.png" alt="#">
                        </a>
                    </li>
                    <li>
                        <a href="#" title="Musica">
                            <img src="../img/categorias/Musica.png" alt="#">
                        </a>
                    </li>
                    <li>
                        <a href="#" title="Teatro">
                            <img src="../img/categorias/Teatro.png" alt="#">
                        </a>
                    </li>
                </ul>
            </div>
            <div class="div-btn-login">
                <input class="btn-login" type="button" value="Login">
            </div>
    </header>

    <div class="conteudo">
        <main role="main" class="pb-3">
            @RenderBody()
        </main>
    </div>

    <footer class="rodape">
            <div class="rodape-contato">
                <label class = "lbl_cabecalho">Contato: </label>
                <label class = "lbl_cabecalho">Mateus - (48) 9 8845-5647 
                    <img class="rodape-contato-img" src="../img/whatsapp.svg"></label>
                <label class = "lbl_cabecalho">Ruan - (48) 9 8845-5647 
                    <img class="rodape-contato-img" src="../img/whatsapp.svg"></label>
                <label class = "lbl_cabecalho">Pedro - (48) 9 8845-5647 
                    <img class="rodape-contato-img" src="../img/whatsapp.svg"></label>
            </div>
    </footer>
    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
    <script src="~/js/site.js" asp-append-version="true"></script>
    @await RenderSectionAsync("Scripts", required: false)
</body>
</html>
