<!DOCTYPE html>
<html>
    <head>
        <title>Inicio</title>
        <meta charset="utf-8">
        <link rel="stylesheet" href="/css/Eventos/style.css" />
    </head>
    <body>
        <header class="cabecalho">
            <div class="logo-img">
                <img class="logo" src="~/img/logo.png">
                <h1>Eventos-Ticket</h1>
            </div>
        </header>
        @RenderBody()
    </body>
</html>